[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "==4.2.0.34"
flask = "*"
numpy = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.7.9"
