click==8.0.1
flask==2.0.1
importlib-metadata==4.6.3; python_version < '3.8'
imutils==0.5.4
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
numpy==1.21.1
opencv-contrib-python==4.2.0.34
typing-extensions==3.10.0.0; python_version < '3.8'
werkzeug==2.0.1
zipp==3.5.0
