.video {
    position: relative;
}

#screenshot {
    position: absolute;
    z-index: 1;
}

#draw {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#draw #marquee {
    fill: black;
    stroke: yellow;
    stroke-width: 1;
    stroke-dasharray: 5, 5;
    stroke-opacity: 0.9;
    fill-opacity: 0.2;
}

#draw #marquee.hide {
    display: none;
}