<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beegeye</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <div id="videocontrols">
                    <button onclick="document.location.reload(true);">Send</button>
                </div>
                <div id="video">
                    <img id="screenshot" src="{{ url_for('video_feed') }}" width="{{video_size.width}}px" draggable="false" alt="video stream">
                    <svg id="draw" width={{video_size.width}} height={{video_size.height}} viewBox="0 0 {{video_size.width}} {{video_size.height}}" xmlns="http://www.w3.org/2000/svg">
                        <rect id="marquee" x="0" y="0" width="10" height="10" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/index.js') }}" type="module"></script>
</body>

</html>